#django env
APP=sopds

DEBUG=1
SECRET_KEY='m4l1c#nq6*zs!c3ri4dg4(54_7bvrl5uintni6p20tijlaxv!x'
DJANGO_ALLOWED_HOSTS='localhost 127.0.0.1 [::1]'

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=$APP
SQL_USER=$APP
SQL_PASSWORD=$APP
#SQL_HOST=db
#SQL_PORT=5432

DATABASE=postgres
#DATABASE=mysql

VERSION=test

#docker env
POSTGRES_USER=$SQL_USER
POSTGRES_PASSWORD=$SQL_PASSWORD
POSTGRES_DB=$SQL_HOST
